# Variáveis de ambiente para o projeto

# URL da API (para produção no Vercel)
VITE_API_URL=https://seu-backend.vercel.app/api

# Configurações do MongoDB
MONGODB_URI=mongodb://mongo:102030@161.97.73.53:27017/?tls=false

# Porta do servidor
PORT=3001

# Ambiente
NODE_ENV=production 